{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <p>This is the about section for CP1404 Practical 10. This exercise was really difficult as I haven't done html
        since year 10. Flask seems really useful though and I will continue learning to use it effectively.</p>
    <p>Here is the <a href="https://flask.palletsprojects.com/en/3.0.x/">Flask Documentation</a></p>
    <p>Here is some <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML Documentation</a></p>
    <p>Here is the code repository for <a href="https://github.com/alexchristie12/flaskdemo">this practical
        exercise.</a></p>
{% endblock %}